@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --back-bg-color: #181818;
  --back-fg-color: white;
  --front-bg-color: #202020;
  --front-fg-color: white;
  --border-radius: 0.25em;
  --icon-size: 24px;
  --icon-margin: 3px;
  --icon-size-with-margins: calc(var(--icon-size) + 2 * var(--icon-margin));
  --shadow-color: #00000040;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--back-bg-color);
  color: var(--back-fg-color);
  font-family: Open Sans, sans-serif;
}

#all-except-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header, footer {
  box-shadow: 0 0 1em var(--shadow-color);
  contain: layout;
  background-color: var(--front-bg-color);
  padding: 0 1em;
  color: var(--front-fg-color);
}
header {
  text-align: center;
}
header a {
  color: inherit;
  text-decoration: inherit;
  transition: 0.2s color;
}
header a:hover {
  color: darkgray;
}
#raw-events {
  background-color: var(--back-bg-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
  overflow: scroll;
  color: var(--back-fg-color);
}

#timeline {
  flex-grow: 1;
  margin-bottom: 2em;
  position: relative;
}
#indicator {
  position: absolute;
  z-index: -1;
  --position: -1px;
  margin-top: calc(var(--position) - 1px);
  width: 100%;
  border-top: solid 2px #404040;
  padding: 0 1em;
  color: #404040;
}
#timeline > :not(#indicator) {
  margin: 0 1em !important;
  contain: layout;
}

.meeting-heading {
  text-align: center;
  cursor: default;
}
.meeting-heading > h2 {
  margin: 1.5em 0;
}
.meeting {
  display: flex;
  justify-content: center;
}
.column {
  flex-grow: 1;
  max-width: 10em;
}
.column ~ .column {
  margin-left: 1em;
}
.bar {
  box-shadow: 0 0 0.5em var(--shadow-color);
  border-radius: var(--border-radius);
}

.subs {
  position: relative;
  z-index: 0;
  background-color: hsl(var(--hue), 40%, 50%);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 1) 0.5em);
}
.subs > div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.afk {
  background-color: #00000040;
}
.repeated {
  border-top: dashed 2px #00000040;
}
.user-state-icon {
  max-width: var(--icon-size-with-margins);
  height: min(var(--icon-size-with-margins), 100%);
  padding: var(--icon-margin);
  color: var(--back-bg-color);
  display: flex;
}
.user-state-icon > svg {
  width: 100%;
}

.comment {
  position: absolute;
  z-index: 1;
  background-color: #f0f0f0;
  border-radius: calc(var(--icon-size-with-margins) / 2);
  border-top-left-radius: 0;
  min-width: var(--icon-size-with-margins);
  min-height: var(--icon-size-with-margins);

  --max-width: 11em;
  --max-height: 10em;
  transition: 0.2s all;
  max-width: var(--icon-size-with-margins);
  max-height: var(--icon-size-with-margins);
  overflow: clip;
}
.comment:hover {
  z-index: 2;
  margin-left: -0.5em;
  box-shadow: 0 0 0.5em var(--shadow-color);
  border-radius: var(--border-radius);
  min-width: calc(var(--icon-size-with-margins) + 1em);
  max-width: var(--max-width);
  max-height: var(--max-height);
}
.comment > svg {
  position: absolute;
  left: calc(var(--icon-margin) - 1px);
  top: var(--icon-margin);

  transition: 0.2s opacity;
  opacity: 1;

  width: var(--icon-size);
  height: var(--icon-size);
  color: #202020;
  pointer-events: none;
}
.comment:hover > svg {
  opacity: 0;
}
.comment > a {
  display: block;
  width: max-content;
  min-width: 100%;
  min-height: var(--icon-size-with-margins);
  max-width: var(--max-width);
  max-height: var(--max-height);

  transition: 0.2s opacity;
  opacity: 0;

  padding: 0.25em;
  color: black;
  text-decoration: none;
  overflow: scroll;
  scrollbar-color: #202020 transparent;
}
.comment:hover > a {
  opacity: 1;
}
